<!--this is a webpage about the following things:
    weed bacon,
    how to make weed bacon,
    about us,
    contact us,
    what we stand for,
    what is weed bacon,
    
    
 ,and the webpage is made using w3.css-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            body {font-family: "Lato", sans-serif}
            .mySlides {display: none}
        </style>
    </head>

    <BODY>
        <div class="w3-top">
          <div class="w3-bar w3-black w3-card">
            <a href="#home" class="w3-bar-item w3-button w3-padding-large">HOME</a>
            <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ABOUT</a>
            <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>
            <a href="#what" class="w3-bar-item w3-button w3-padding-large w3-hide-small">WHAT IS WEED BACON</a>
            <a href="#us" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ABOUT US</a>
            <a href="#stand" class="w3-bar-item w3-button w3-padding-large w3-hide-small">WHAT WE STAND FOR</a>
            <a href="#how" class="w3-bar-item w3-button w3-padding-large w3-hide-small">HOW TO MAKE WEED BACON</a>
            <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-large w3-right w3-hide-large w3-hide-medium" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
          </div>
        </div>

        <div class="w3-content w3-margin-top" style="max-width:1400px;">

          <div class="w3-row-padding">

            <div class="w3-third">

              <div class="w3-white w3-text-grey w3-card-4">
                <div class="w3-display-container">
                  <img src="https://www.w3schools.com/w3images/avatar_hat.jpg" style="width:100%" alt="Avatar">
                  <div class="w3-display-bottomleft w3-container w3-text-black">
                    <h2>John Doe</h2>
                  </div>
                </div>
                <div class="w3-container">
                  <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Designer</p>
                  <p><i class="fa fa-home fa-fw w3
    </BODY>

    <body>
        <h1>"what we stand for,"</h1>
        <P>we stand for the right for a woman's choice and we stand with ukraian </P>

        <h1>contact us</h1>
        <p>Email: mason@erobbins.com</p>
        
        <h1>Menu</h1>
        <p>servers hosted in my office for fun</p>
        <p>video games are in develppment</p>
        <p>and website development learn as i go</p>
        
        <h1>disclosure</h1>
        <p>i am making this site for fun i stand with the womans right to choose and with the ukrainians in this war thank you for visiting my site and i hope you have awonderful day</p>
  
    </body>

</html>
